* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 8%);
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family:  "Inter", sans-serif;
}
.social-links-card {
  width: 380px;
  background-color:  hsl(0, 0%, 12%);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
}
@media (max-width: 375px) {
  .social-links-card  {
    width: 300px;
    margin: 0 15px;
  }
}
.social-links-card img {
  width: 70px;
  border-radius: 50%;
}
.social-links-card .title {
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0 0;
}
.social-links-card .address {
  display: block;
  color: hsl(75, 94%, 57%);
  margin: 5px 0 15px;
  font-size: 14px;
}
.social-links-card .job {
  margin: 0 0 15px;
  font-size: 14px;
}
.social-links-card .links {
  list-style: none;
  display: grid;
  gap: 20px;
}
.social-links-card .links li {
  padding: 10px 20px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 7px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  transition: 0.5s;
  cursor: pointer;
}
.social-links-card .links li:hover {
  background-color:  hsl(75, 94%, 57%);
  color: black;
}
